//====================================================================================================
.footer {
  // .footer__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(15);
    @include adaptiveValue('padding-top', 88, 30);
    @include adaptiveValue('padding-bottom', 88, 30);
  }

  // .footer__social
  &__social {
    .social__link {
      color: $secondColor;
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $thirdColor;
        }
      }
    }
  }

  // .footer__copy
  &__copy {
    font-size: rem(14);
    line-height: math.div(17, 14);
    color: $secondColor;
  }
}

//====================================================================================================
